%import x

<form id="frm_login"  class="flex flex-col gap-2 w-full mx-4 md:w-1/2">

    <label for="user_email">Email</label>
    <input name="user_email" id="user_email" class="w-full border" type="text" placeholder="email" value="" 
        mix-check="{{x.EMAIL_REGEX}}">

        <label for="user_password">Password</label>
    <input name="user_password" class="w-full border" type="password" placeholder="password" value=""
        mix-check="{{x.USER_PASSWORD_REGEX}}">
    <button class=""
        mix-data="#frm_login"
        mix-post="/login"
        mix-default="Login"
        mix-await="Please wait ..."
    >
        Login
    </button>


    <a class="text-blue-600 underline" href="/forgot-password">Click here to reset password</a>
</form>