%import x

<form id="frm_signup" autocomplete="off" class="flex flex-col gap-2 w-full mx-4 md:w-1/2">


        <fieldset>
            <legend>Choose Your Role:</legend>
            <div class="flex justify-around">
                <div >
                    <label for="user_role_customer">Im a customer</label>
                    <input name="user_role" id="user_role_customer" class="w-full border" type="radio" placeholder="Role" value="customer" checked>
                    <p class="max-w-64 text-center text-sm">"Customers can can browse and rent properties."</p>
                </div>
                <div >
                    <label for="user_role_partner">Im a partner</label>
                    <input name="user_role" id="user_role_partner" class="w-full border" type="radio" placeholder="Role" value="partner">
                    <p class="max-w-64 text-center text-sm">"Parners can do the same as Customers, but also has the option to rent out their own properties."</p>
                </div>
            </div>
        </fieldset>


        <div>
                <label for="user_email">Email</label>
                <input name="user_email" id="user_email" class="w-full border" type="email" placeholder="email" value="" 
                mix-check="{{x.EMAIL_REGEX}}" 
                mix-post="check-email"
                mix-data="#frm"
                mix-blur>
        </div>
        <div>
                 <label for="user_username">Username</label>
                <input name="user_username" id="user_username" class="w-full border" type="text" placeholder="Username" value="" mix-check="{{x.USER_USERNAME_REGEX}}">
        </div>

        <div>
                 <label for="user_first_name">First Name</label>
                <input name="user_first_name" class="w-full border" type="text" placeholder="First name" value="" 
                mix-check="{{x.USER_USERNAME_REGEX}}">
        </div>

        <div>
                <label for="user_last_name">Last Name</label>
                <input name="user_last_name" id="user_last_name" class="w-full border" type="text" placeholder="Lastname" value="" mix-check="{{x.USER_USERNAME_REGEX}}">
        </div>
        <div>
                <label for="user_password">Password</label>
                <input name="user_password" id="user_password" class="w-full border" type="password" placeholder="password" value=""
                    mix-check="{{x.USER_PASSWORD_REGEX}}">
        </div>
        <div>
            <label for="user_confirm_password">Confirm password</label>
            <input name="user_confirm_password" id="user_confirm_password" class="w-full border" type="password" placeholder="password" value=""
                mix-check="{{x.USER_PASSWORD_REGEX}}">
    </div>
    <button class=""
        mix-data="#frm_signup"
        mix-post="/signup"
        mix-default="Signup"
        mix-await="Please wait ..."
    >
        Signup
    </button>
    <div id="message"></div>
</form>